
<div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body ">
        <p class="title">
          Add / Remove Admins
        </p>
        
        <app-add-admin [newAdmin]="newAdmin" [disableAdd]="disableAdd"></app-add-admin>
        
        <div class="row" *ngFor="let admin of admins">
          <div class="col-md-6 col-lg-3">
            <mat-form-field appearance="outline">
              <input matInput value="{{admin.name}}">
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-3">
            <mat-form-field appearance="outline">
              <input matInput value="{{admin.employeeNumber}}">
            </mat-form-field>
          </div>
          <div class="col-md-6 col-lg-4">
            <mat-form-field appearance="outline">
              <input matInput value="{{admin.email}}">
            </mat-form-field>
          </div>
          <div class="col-md-3 col-lg-1">
            <button mat-fab (click)="editDetailsOfAdmin(admin)" class="pl-0 mr-1" color="accent"
              aria-label="">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <div class="col-md-3 col-lg-1">
            <button mat-fab (click)="deleteAdmin(admin.id)" color="accent"
              aria-label="">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-10 mt-4 mb-5 d-flex justify-content-end">
            <button mat-raised-button color="accent" type="submit" (click)="onClickUpdateAdmin()" class="button mr-3">Update</button>
            <button mat-raised-button color="accent" type="submit" data-dismiss="modal" (click)="resetNewAdmin()" class="button">Cancel</button>
          </div>
        </div>

        <div class="times" data-dismiss="modal" (click)="resetNewAdmin()">&times;</div>
      </div>
    </div>
  </div>
</div>
