<div class="modal fade" id="adminModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-body ">
        <p class="title">
          Add / Remove {{adminCategory}}s
        </p>

        <app-add-admin [newAdmin]="newAdmin" [adminCategory]="adminCategory" [disableAdd]="disableAdd" (resetAdmin)="resetNewAdmin()"></app-add-admin>

        <div class="m-0 p-0" *ngFor="let admin of admins">
          <div *ngIf="adminCategory == admin.type" class="row pt-md-4">
            <div class="col-md-6 col-lg-3">
              <mat-form-field appearance="outline">
                <input matInput value="{{admin.name}}">
              </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-3">
              <mat-form-field appearance="outline">
                <input matInput value="{{admin.employeeNumber}}">
              </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-4">
              <mat-form-field appearance="outline">
                <input matInput value="{{admin.email}}">
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-1 d-flex align-items-center">
              <button mat-fab (click)="onClickEditDetailsOfAdmin(admin)" class="pl-0" aria-label="">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div class="col-md-3 col-lg-1 d-flex align-items-center">
              <button mat-fab (click)="onClickDeleteAdmin(admin.id)" aria-label="">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-12 col-md-10 mt-4 mb-5 d-flex justify-content-end">
            <button mat-raised-button type="submit" (click)="onClickUpdateAdmin()" class="button mr-3">Update</button>
            <button mat-raised-button type="submit" data-dismiss="modal" (click)="resetNewAdmin()"
              class="button">Cancel</button>
          </div>
        </div>

        <div class="times" data-dismiss="modal" (click)="resetNewAdmin()">&times;</div>
      </div>
    </div>
  </div>
</div>
