@import 'src/mixins/mixin.scss';

.modal-content {
  border-radius: 20px;
  padding: 0px 3rem;

  @include mat-input-style;

  ::ng-deep {
    .mat-form-field-wrapper {
      padding-bottom: 0px;
    }

    .mat-form-field-appearance-outline .mat-form-field-infix {
      padding: 1.5em 0 1.25em 0;
    }

    .mat-form-field-infix {
      border-top: none;
    }
  }

  button {
    background-color: $buttonBackground;
    outline: none;
  }
}

.title {
  padding-top: 3rem;
  margin-bottom: 30px;
  font-size: 1.5rem;
  font-weight: 500;
}

.times {
  @include close-button(-2rem);
}

mat-form-field {
  font-size: 1rem;
  width: 100%;
}



.button {
  @include custom-button(0.75rem);
}
