@import 'src/mixins/variables.scss';
@import 'src/mixins/mixin.scss';



.header {
  width: 100%;
  max-height: 100px;
  background-color: $white-background;
  box-shadow: 0 1px 12px 0 $header-shadow;
  position: relative;
  overflow: hidden;

  .robosoft_logo_horizontal {
    justify-content: flex-start;
    padding: 23px 0px;

    img {
      width: 100%;
    }
  }

  .login-information {
    justify-content: flex-end;
    padding: 0px;

    .user-name {
      margin-right: 10px;
      text-transform: capitalize;
      opacity: 0.87;
      font-size: 1rem;
      letter-spacing: 0.15px;
    }

    .oval {
      height: 2.75rem;
      width: 2.75rem;
      // box-sizing: border-box;
      border-radius: 50%;
      border: 2px solid #D92756;
    }
  }
}

@media (max-width: 900px) {
  .header {
    padding: 0px 10px;
  }

  .user-name {
    position: absolute;
    left: 500px;
  }
}
