@import 'src/mixins/mixin.scss';
@import 'src/mixins/variables.scss';

.new-admin {
  border-bottom: 1px dashed gray;

  mat-form-field {
    font-size: 1rem;
    width: 100%;
  }

  @include mat-input-style;

  button {
    background-color: $buttonBackground;
    outline: none;
  }
}
