@import 'src/mixins/variables.scss';
@import 'src/mixins/mixin.scss';

.home {
  background: $homeBackground;
  margin: 0;
  padding: 0;

  .nav-options {
    position: absolute;
    bottom: 6rem;
    right: 2rem;
    z-index: 1000;

    button {
      width: 100%;
      display: block;
      margin-bottom: 1rem;
      font-size: 0.75rem;
      line-height: 1rem;
      padding: .75rem 1rem;
      border: none;
      background-color: white;
      border-radius: 1.75rem;
      outline: none;
    }
  }

  .warn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    outline: none;
    z-index: 1000;
  }

  @include padding-media-query;
}

.overlay {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #5a585854;
  z-index: 1;
  cursor: pointer;
}
