@import 'src/mixins/mixin.scss';
@import 'src/mixins/variables.scss';

.check-email {
  height: 100vh;
  background: $loginPageBackground;
  @include display-center;

  .bg {
    min-height: 200px;
    width: 100%;
    border-radius: 20px;
    background: $white-background;
    text-align: center;

    p {
      padding-top: 4rem;
      padding-bottom: 1rem;
      font-size: 1rem;
      line-height: 1.25rem;
    }

    button {
      @include custom-button(0.9rem);
      background-color: $buttonBackground;
      margin-bottom: 3rem;
    }
  }
}
