<div class="change-password">
    <div class="container">
        <div class="row">
            <div class="col-12 offset-md-3 col-md-6">
                <div class="bg">
                    <form action="home">
                        <p class="title">Change Password</p>
                        <div class="row m-1 m-md-0">
                            <mat-form-field class="col-12 offset-md-2 col-md-8" appearance="outline">
                                <mat-label class="label">Enter New Password</mat-label>
                                <input class="input" matInput type="password" placeholder="">
                            </mat-form-field>
                        </div>
                        <div class="row m-1 m-md-0">
                            <mat-form-field class="col-12 offset-md-2 col-md-8 " appearance="outline">
                                <mat-label class="label">Re - Enter New Password</mat-label>
                                <input class="input" matInput type="password" placeholder="">
                            </mat-form-field>
                        </div>
                        <button type="submit">Update</button>
                    </form>
                    <div class="times" routerLink="/home">&times;</div>
                </div>
            </div>
        </div>
    </div>
</div>
