@import 'src/mixins/variables.scss';
@import 'src/mixins/mixin.scss';

.change-password {
  @include login-container-style;

  .bg {
    position: relative;
    .times {
      font-size: 3rem;
      position: absolute;
      top: 1rem;
      right: 1rem;
      outline: none;
      cursor: default;
    }
  }
}
