<div class="details mt-3">
  <div class="row ">
    <div class="col-md-12 col-lg-8 pr-30px">
      <div class="questionaire">
        <p class="title">Questionnaire</p>
        <mat-form-field appearance="outline">
          <mat-label>Enter Title</mat-label>
          <input matInput placeholder="Placeholder" value="Secure Coding Guidelines">
          <mat-hint>Please enter appropriate title</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea rows="3" matInput placeholder=""></textarea>
        </mat-form-field>
        <mat-form-field class="col-6 pl-0" appearance="outline">
          <mat-label class="label">Button Title</mat-label>
          <input class="input" matInput type="text" placeholder="">
        </mat-form-field>
        <mat-form-field class="col-6 pr-0" appearance="outline">
          <mat-label class="label">Button Text</mat-label>
          <input class="input" matInput type="text" placeholder="">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label class="label">Check box text</mat-label>
          <input class="input" matInput type="text" placeholder="">
        </mat-form-field>
      </div>

      <div class="additional-details">
        <p class="title">Additional Details</p>
        <mat-form-field class="col-4 pl-0" appearance="outline">
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle class="icon cal-icon" matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-4 p-0" appearance="outline">
          <mat-label>End date</mat-label>
          <input matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle class="icon cal-icon" matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="col-4 pr-0 duration-right-align" appearance="outline">
          <mat-label>Duration</mat-label>
          <input matInput type="text" value="5">
          <span class="suffix">Days</span>
        </mat-form-field>
        <mat-form-field class="col-6 pl-0" appearance="outline">
          <mat-label class="label">Select Content PPT File</mat-label>
          <ngx-mat-file-input [accept]="acceptPptx"></ngx-mat-file-input>
          <mat-icon matSuffix class="icon">cloud_upload</mat-icon>
        </mat-form-field>
        <mat-form-field class="col-6 pr-0" appearance="outline">
          <mat-label class="label">Select Participant xl sheet</mat-label>
          <ngx-mat-file-input [accept]="acceptXlsx"></ngx-mat-file-input>
          <mat-icon matSuffix class="icon">cloud_upload</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Mail Body</mat-label>
          <textarea rows="3" matInput placeholder=""></textarea>
        </mat-form-field>
      </div>
    </div>

    <div class="col-md-12 col-lg-4 pl-0">
      <div class="options" *ngFor="let button of buttons">
        <button mat-button class="button">
          <mat-icon matIcon>{{button.icon}}</mat-icon><span>{{button.title}}</span> 
        </button>
      </div>
    </div>
  </div>
</div>
