@import 'src/mixins/mixin.scss';
@import 'src/mixins/variables.scss';

.details {
  background: white;
  padding: 20px;
  border-radius: 20px;

  .title {
    opacity: 0.87;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  @include mat-input-style;

  mat-form-field {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.options {
  padding-left: 30px;
  border-left: 2px solid $accentColor;
}

.pr-30px {
  padding-right: 30px;
}

button {
  width: 100%;
  text-align: start;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.25px;
  line-height: 16px;
  padding: 12px;
  margin-bottom: 1.25rem;
  outline: none;
  background: $optionsButtonBackground;
}

.example-right-align {
  position: relative;
  .suffix{
    position: absolute;
    top: 1rem;
    right: 0;
  }
}

.calender-icon {
  color: $accentColor;
}

