<div class="details mt-3">
  <div class="row ">
    <div class="col-12 col-md-8 pr-30px">
      <div class="questionaire">
        <p class="title">Questionaire</p>

        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <input matInput placeholder="Placeholder">
          <mat-hint>Hint</mat-hint>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <textarea rows="3" matInput placeholder="Placeholder"></textarea>
        </mat-form-field>


        <mat-form-field class="col-6 pl-0" appearance="outline">
          <mat-label class="label">Enter Username</mat-label>
          <input class="input" matInput type="text" placeholder="">
        </mat-form-field>

        <mat-form-field class="col-6 pr-0" appearance="outline">
          <mat-label class="label">Enter Username</mat-label>
          <input class="input" matInput type="text" placeholder="">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label class="label">Enter Username</mat-label>
          <input class="input" matInput type="text" placeholder="">
        </mat-form-field>
      </div>
      <div class="additional-details">
        <p class="title">Additional Details</p>

        <mat-form-field class="col-4 pl-0 " color="accent" appearance="outline">
          <mat-label>Start date</mat-label>
          <input matInput [matDatepicker]="picker1">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1 ></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-4 p-0" color="accent" appearance="outline">
          <mat-label>End date</mat-label>
          <input matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle color="accent" matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2 ></mat-datepicker>
        </mat-form-field>

        <mat-form-field class="col-4 pr-0" appearance="outline">
          <mat-label>Duration</mat-label>
          <input matInput type="text" class="example-right-align">
          <p matSuffix>days</p>
        </mat-form-field>

        <mat-form-field class="col-6 pl-0" appearance="outline">
          <mat-label class="label">Enter Username</mat-label>
          <input class="input" matInput type="text" placeholder="">
          <mat-icon matSuffix color="accent">cloud_upload</mat-icon>
        </mat-form-field>

        <mat-form-field class="col-6 pr-0" appearance="outline">
          <mat-label class="label">Enter Username</mat-label>
          <input class="input" matInput type="text" placeholder="">
          <mat-icon matSuffix color="accent">cloud_upload</mat-icon>
        </mat-form-field>


        <mat-form-field appearance="outline">
          <mat-label>Outline form field</mat-label>
          <textarea rows="3" matInput placeholder="Placeholder"></textarea>
        </mat-form-field>


      </div>
    </div>


    <div class="col-12 col-md-4 pl-0">
      <div class="options" *ngFor="let button of buttons">
        <button mat-button (click)="button.click(button.title)" color="accent">
          <mat-icon matIcon>{{button.icon}}</mat-icon> {{button.title}}
        </button>
      </div>
    </div>
  </div>
</div>
