@import 'src/mixins/mixin.scss';
@import 'src/mixins/variables.scss';

.details {
  background: white;
  padding: 20px;
  border-radius: 20px;

  .title {
    opacity: 0.87;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  @include mat-input-style;

  ::ng-deep {
    .mat-datepicker-toggle .mat-icon-button {
      outline: none;
    }
  }

  mat-form-field {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
  }

  .options {
    padding-left: 30px;
    border-left: 2px solid $buttonBackground;
  }

  .pr-30px {
    padding-right: 30px;
  }

  .button {
    width: 100%;
    display: inline-flex;
    align-items: center;
    text-align: left;
    vertical-align: center;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.25px;
    line-height: 16px;
    padding: 12px;
    margin-bottom: 1.25rem;
    outline: none;
    color: $buttonBackground;
    background: $optionsButtonBackground;

    span {
      margin-left: 0.75rem;
    }
  }

  .duration-right-align {
    position: relative;

    .suffix {
      position: absolute;
      top: 1rem;
      right: 0;
      color: $footerTextColor;
    }
  }

  .icon {
    color: $buttonBackground;
    position: relative;
    cursor: default;
  }

  .cal-icon {
    right: -0.5rem;
  }

  @media (max-width: 991px) {
    .options {
      padding-left: 10px;
      border-left: none;
    }
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}