<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-12 offset-md-3 col-md-6">
        <div class="bg">
          <p class="title">Login</p>
          <div class="row m-1 m-md-0">
            <mat-form-field class="col-12 offset-md-2 col-md-8" appearance="outline">
              <mat-label class="label">Enter Username</mat-label>
              <input class="input" (keyup)="validate()" matInput [(ngModel)]="username" type="text" placeholder="">
            </mat-form-field>
          </div>
          <div class="row m-1 m-md-0">
            <mat-form-field class="col-12 offset-md-2 col-md-8 " appearance="outline">
              <mat-label class="label">Enter Password</mat-label>
              <input class="input" (keyup)="validate()" matInput [(ngModel)]="password" type="password" placeholder="">
            </mat-form-field>
          </div>
          <button (click)="onClicklogin()" [ngClass]="{'disabled': disabledButton}" routerLink="/home" type="submit"
            [disabled]="disabledButton">Login</button>
          <p class="forgot-password">Forgot Password ?</p>
        </div>
      </div>
    </div>
  </div>
</div>
