<div class="login">
    
    <div class="bg">
        <form action="">
            <p class="title">Login</p>
            <div class="input-field">
                <input id="username" type="text" name="username" required>
                <label class="label" for="username"> Enter Username</label>
            </div>
            <div class="input-field">
                <input id="password" type="password" name="password" required>
                <label class="label" for="password"> Enter Password</label>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="forgot-password">Forgot Password ?</p>
    </div>
</div>

