@import 'src/mixins/variables.scss';

.login {
  // width: 100%;
  height: 100vh;
  background: $loginPageBackground;
  display: flex;
  justify-content: center;
  align-items: center;

  .bg {
    min-height: 385px;
    width: 100%;
    border-radius: 20px;
    background: $white-background;
    text-align: center;

    .title {
      padding-top: 3rem;
      margin-bottom: 30px;
      font-size: 1.5rem;
      font-weight: 500;
    }

    .input {
      outline: none;
    }

    .label {
      color: #00000099;
    }

    button {
        width: 150px;
        height: 50px;
        color: white;
        background: #D92756;
        font-size: 1rem;
        letter-spacing: 1.3px;
        border: none;
        outline: none;
        font-weight: 500;
        border-radius: 25px;
    }

    .forgot-password {
        margin-top: 1rem;
        font-size: 0.75rem;
    }
  }
}
