$white-background: #ffffff;
$homeBackground: #F7F7F7;
$loginPageBackground: linear-gradient(52deg, #7A7FC8 0%, #BD385B 100%);
$buttonBackground: #D92756;
$optionsButtonBackground: #FDF4F6;
$dashboardSelectedLinkBackground: #d927560d;
$footerBackground: #00000005;
$disabledButtonBackground: #696868c5;

$header-shadow: #00000024;
$labelColor: #00000099;
$accentColor: #ff4081;
$profileImgBorder: $buttonBackground;
$footerTextColor: #00000099;
